<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wormy.root.talktowormy" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:screenOrientation = "portrait">

        <activity
            android:name="com.app.talktowormy.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.talktowormy.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.app.talktowormy.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.talktowormy.MainActivity" />

        </activity>
    </application>


</manifest>
